body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

#top-section {
  background-color: #d24d57;
  height: 80vh;
  width: 100%;
  background: url('../img/background-3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#bg-frame {
  background: url('../img/background-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 80vh;
  width: 100%;
  animation-name: fade-bg;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes fade-bg{
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}

.navigation {
  font-size: 1.5em;
  margin-top: 2em;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-links {
  font-weight: 300;
  color: #fcfcfc;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in;
}

.nav-links:hover {
  color: #00f0ff;
}

h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 4.5em;
  color: #fcfcfc;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 40vh;
}

.same-line {
  display: inline-block;
}

/*top-section media queries*/

@media(max-width: 725px) {
  h1 {
    font-size: 3.5em;
    margin-top: 35vh;
  }
}

@media (max-width: 525px) {
  h1 {
    font-size: 2.8em;
  }

  .navigation {
    font-size: 1.1em;
  }

  .nav-items {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/*end top-section media queries*/


/*main-content stylying*/

#main-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-content:before {
  content: '';
  display: block;
  position: absolute;
  height: 1050px;
  left: 50%;
  border-left:4px dotted #d24d57;
  margin-left: -2px;
  margin-top: 85px;
  z-index: -1;
}

@media (max-width: 810px) {
  #main-content:before {
    height: 1150px;
  }
}

@media (max-width: 735px) {
  #main-content:before {
    height: 1240px;
  }
}

@media (max-width: 640px) {
  #main-content:before {
    height: 1080px;
  }
}

@media (max-width: 420px) {
  #main-content:before {
    height: 1190px;
  }
}

@media (max-width: 370px) {
  #main-content:before {
    height: 1275px;
  }
}

#line-1 {
  margin-top: 150px;
}

#profile-pic-container {
  text-align: right;
}

#profile-pic {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  margin-right: 1.2em;
}

.circle {
  background: #F14D56;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top:85px;
  display: block;
}

h2 {
  font-weight: 300;
  color: #d24d57;
  font-size: 1.5em;
  text-align: left;
  margin-top: -60px;
  margin-left: 1em;
  margin-bottom: 0;
}

.main-section-links {
  color: #d24d57;
  transition: color 0.2s ease-in;
}

.main-section-links:hover {
  color: #0074B5;
}

#line-2 {
  margin-top: 150px;
}

.paragraph {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  color: #777;
  text-align: left;
  line-height: 1.7em;
  /*margin-right: 1em;*/
}

#paragraph-line-2 {
  margin-right: 1.2em;
}

#engineer-container {
  text-align: left;
  margin-top: -80px;
}

#engineer-img {
  height: 150px;
  width: auto;
  margin-left: 1.5em;
}

#line-3 {
  margin-top: 150px;
}

#robot-container {
  text-align: right;
  z-index: 99;
}

#robot-img {
  height: 150px;
  width: auto;
  z-index: 999;
}

#paragraph-line-3 {
  margin-top: -100px;
  margin-left: 1.2em;
  z-index: 0;
}

#line-4 {
  margin-top: 100px;
}

#h2-style {
  font-weight: 300;
  color: #d24d57;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 5em;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 25px;
}

@media (max-width: 640px) {
  #line-1 {
    margin-top: 100px;
  }

  .circle {
    display: none;
  }

  #profile-pic-container {
    text-align: center;
  }

  #profile-pic {
    margin: 0;
  }

  h2 {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.3em;
  }

  .paragraph {
    text-align: center; 
    margin-left: 2em;
    margin-right: 2em;
  }

  #paragraph-line-2 {
    margin-right: 2em;
    /*margin-top: 100px;*/
  }

  #engineer-container {
    text-align: center;
    margin:-30px;
  }

  #engineer-img {
    /*margin:0;*/
    display: none;
  }

  #robot-container {
    text-align: center;
  }

  #robot-img {
    display: none;
  }

  #paragraph-line-3 {
    text-align: center;
    margin-top: 0px;
    margin-left: 2em;
  }

  #h2-style {
    font-size: 1.3em;
    padding: 10px;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media (max-width: 485px) {
  h2, .paragraph, #h2-style, #paragraph-line-2, #paragraph-line-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

/*end main-content stylying*/


/*general subpage style*/

.header-container {
  background: #d24d57;
  height: auto;
  width: 100%;
}

.general-header-nav {
  margin-bottom: 2em;
}

.subpage-title {
  text-align: left;
  margin-top: 1em;
}

.subpage-container {
  margin-top: 100px;
}

.subpage-paragraph {
  color: #777;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.7em;
}

@media (max-width: 640px) {
  .subpage-container {
    margin-top: 40px;
  }

  .subpage-paragraph {
    font-size: 1em;
  }
}

/*end general subpage style*/

/*infographic page style*/

.infographic-container {
  margin: auto;
  margin-top: 2em;
  text-align: center;
  /*height: 300px;*/
  /*width: 300px;*/
}

.infographic-sample {
  width: 100%;
  height: auto;
  margin: auto;
  border: 2px solid #d24d57;
}

.mask {
  /*background: url('../img/square.svg');*/
  background: rgba(150,17,27,0);
  /*opacity: 0.3;*/
  height: 304px;
  width: 304px;
  position: absolute;
  top: 0;
  left: 15px;
  transition: all 0.2s ease-in;
}

.infographic-sample:hover .mask{
  background: rgba(150,17,27,0.7)
}


