/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset */

/*
> STYLE
*/

body {
	background-color: #191919;
	color: #ff3366;
	text-align: center;
	border-top: 4px solid #ff3366;
}

#greeting {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	margin-top: 1.5em;
}

#profile-pic {
	width: 150px;
	border-radius: 150px;
	margin-top: 3em;
	filter: saturate(0);
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	-moz-filter: saturate(0);
}

#bio-summary {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	margin-top: 2.5em;
	letter-spacing: 2px;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	line-height: 26px;
}

#social-menu {
	margin-top: 6em;
}

#social-menu a {
	color: #f7f7f7;
	margin-right: 1.2em;
	margin-left: 1.2em;
}

#social-menu a:hover, #social-menu a:focus {
	color: #ff3366;
}

/*
> MEDIUM font awesome dirty fix
*/
@font-face {
    font-family:'medium-icons';
    src:url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.RKi6ejayKSZJh0OTshbkRg.eot");
    src:url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.RKi6ejayKSZJh0OTshbkRg.eot?#iefix") format("embedded-opentype"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.0qVySHWi3WfG-NkYbdM9ng.woff") format("woff"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.mLsoGQwSP5s8oeib362mtQ.ttf") format("truetype"),
    url("https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.YXqW0c1ibQa2SAL9POl_bw.svg?#medium-icons") format("svg");
    font-weight:normal;font-style:normal; }
.fa-medium:before {
    content: "\f12a";
    font-family: 'medium-icons';
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    position: relative;
    bottom:-0.15em; }