$type: "Inconsolata", Sans-serif;
$bg-color: #ffffff;
$color: #222;

#text {
	color: $color;
	font-family: $type;
	background-color: $bg-color;
	text-align: center;
	font-size: 1.3em;
	line-height: 1.7em;
	margin-bottom: 10%;
}

#title {
	font-size: 3em;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 12%;
}

.link {
	text-decoration: none;
	color: #f36;
	transition-property: background-color, color;
	transition-duration: 0.2s;
}

.link:hover, .link:focus {
	background-color: #f36;
	color: $bg-color;
}

