
/*base template style*/

html {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  padding: 0;
  position: relative;
  background-color: #fcfcfc;
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: lighten;
}

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-weight: 300;
}

#left {
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  width: 70vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3em;
  padding-bottom: 0;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#right {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  right: 0;
  /*background: linear-gradient(to bottom, #dd2476, #ff512f);*/
  background-color: #ff0055;
  width: 30vw;
  padding-top: 3em;
  padding-bottom: 2em;
}

@media(max-width: 950px) {
  #left {
    width:60vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #right {
    width: 40vw;
  }
}

@media (max-width: 670px) {
  #left, #right {
    width: 100vw;
    display: block;
    position: relative;
    height: auto;
    min-height: auto;
  }
  #left {
    padding-bottom: 1em;
    padding-top: 1.5em;
  }
  #right {
    padding-top: 2em;
  }
}
@media (max-width:500px) {
  #left {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (max-width:380px) {
  #left {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#navigation {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
}
@media (max-width: 670px) {
  #navigation {
    margin-bottom: 4em;
  }
}

#nav-list, #social-media-list, #mail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#social-media-list {
  margin-top: 20px;
}

#contact-container {
  text-align: left;
  padding-left: 2em;
  padding-right: 0.5em;
  color: #fff;
  font-size: 1.1em;
  margin-top: 50vh;
}
@media (max-height: 1050px) and (max-width: 1300px) {
  #contact-container {
    margin-top: 40vh;
  }
}
@media (max-height: 635px) {
  #contact-container {
    margin-top: 45vh;
  }
}
@media (max-height: 500px) {
  #contact-container {
    margin-top: 25vh;
  }
}
@media (max-width: 670px) {
  #contact-container {
    margin-top: 0;
    padding-bottom: 2em;
  }
}

.nav-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.nav-link::after {
  content: '';
  height: 4px;
  margin-top: 2px;
  width: 0;
  background-color: #fff;
  display: block;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav-link:hover::after,
  .nav-link:focus::after {
  width: 100%;
}

.contact-title {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 1.6em;
}

.mail-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

#mail-img {
  width: 28px;
  height: auto;
  margin-bottom: -4px;
}

.contact-link {
  color: #fff;
  /*font-weight: 300;*/
}

.contact-text {
  /*font-weight: 300;*/
  font-size: 0.8em;
}

.social-media-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 8px;
}

.social-media-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.social-media-img {
  height: 25px;
  width: 25px;
  border: 2px solid rgba(255,255,255,0.5);
  padding: 8px;
  border-radius: 5px;
  vertical-align: bottom;
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.social-media-link:hover .social-media-img,
  .social-media-link:focus .social-media-img{
  border: 2px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.3);
}

@media (max-width: 1300px) {
  .line-2 {
    display: inline-block;
    margin-top: 12px;
  }
}

/*end base template style*/


/*index page style*/

#picture {
  height: 180px;
  width: auto;
  border-radius: 5px;
  float: left;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

#presentation {
  float: left;
  margin-left: 1.5em;
}

.pink-link {
  color: #ff0055;
  transition: color 0.1s ease-in;
}

.pink-link:hover,
  .pink-link:focus {
  color: rgb(185,0,42);
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: rgb(85,80,80);
  font-size: 2.6em;
  margin-top: 0.2em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: rgb(85,80,80);
  font-size: 1.6em;
  margin-top: 0.5em;
}

@media (max-width: 930px) {
  #picture {
    height: 140px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
}

#paragraphs {
  clear: left;
  padding-top: 1.5em;
}

.bio-paragraph {
  font-size: 1.1em;
  line-height: 1.8em;
  color: rgb(85,80,80);
  margin-top: 0.8em;
}

.bio-paragraph-title {
  color: rgb(85,80,80);
  font-size: 1.4em;
  margin-top: 1.8em;
  font-family: 'Oswald', sans-serif;
}

#infographics-cta {
  margin-top: 2em;
  color: rgb(85,80,80);
  margin-bottom: 4em;
}

#infographics-cta p {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 1.8em;
}

.button-container {
  display: block;
  margin-top: 3em;
  margin-bottom: 2em;
}

#infographics-button {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff0055;
  text-decoration: none;
  border: 2px solid #ff0055;
  border-radius: 5px;
  padding: 12px 15px;
  box-shadow: 2px 2px 0px 2px rgb(185,0,42);
}

.arrow {
  height: 16px;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: -1px;
}

.paragraph-list {
  margin: 0;
  padding: 0;
  list-style: circle inside url("../img/arrow-pink.svg");
}

@keyframes move-arrow{
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-3px);
  }
  85% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

#infographics-button:hover .arrow,
  #infographics-button:focus .arrow {
  animation-name: move-arrow;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.arrow {
  margin-left: 5px;
}

@media (max-width:794px) {
  #paragraphs {
    padding-top: 0.5em;
  }

  #picture {
    display: none;
  }

  .bio-paragraph {
    font-size: 1em;
  }

  #presentation {
    display: block;
    float: none;
    margin-left: 0;
    margin-top: 1em;
  }
  h2 {
    margin-top: 0.2em;
  }
}

/*end index page style*/




/*mobile nav (js generated) style*/

#mobile-nav {
  position: fixed;
  bottom:0;
  background-color: #ff0055;
  text-align: center;
  width: 100%;
}

.mobile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.mobile-nav-item {
  display: inline-block;
  margin: 0 1em;
  padding: 0.7em 0.2em 0.5em 0.2em;
}

.mobile-nav-link {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.3em 0 0 0;
  text-decoration: none;
}

.mobile-nav-link::after {
  content: '';
  height: 4px;
  margin-top: 2px;
  width: 0;
  background-color: #fff;
  display: block;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.mobile-nav-link:hover::after,
  .mobile-nav-link:focus::after {
  width: 100%;
}

@media(max-width: 400px) {
  .mobile-nav-item {
    margin: 0 0.5em;
  }

  .mobile-nav-link {
    font-size: 1em;
  }
}

@media(max-width: 330px) {
  .mobile-nav-item {
    margin: 0 0.3em;
  }

  .mobile-nav-link {
    font-size: 0.9em;
  }
}

/*end mobile nav style*/




/*infographic page style*/

#infographics-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*text-align: center;*/
  margin-bottom: 2em;
}

#infographic-container {
  margin: 0;
  padding: 0;
  display: inline-block;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.portfolio-section {
  margin-bottom: 2.6em;
  color: rgb(85,80,80);
}

.portfolio-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6em;
  margin-bottom: 0;
  margin-top: 0;
}

.infographic-container {
  margin: 0;
  width: 300px;
  height: 300px;
  padding: 0;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  display: inline-block;
}

.container1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 5px solid #f0f0f0;
  position: relative;
  overflow: hidden;
  margin:auto;
}

.infographic-sample {
  height: 100%;
  width: auto;
  display: block;
  position: relative;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.mask1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  /*background: linear-gradient(to bottom, #dd2476, #ff512f);*/
  background-color: #ff0055;
  opacity: 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.container1:hover .infographic-sample,
  .container1:focus .infographic-sample{
  transform: scale(1.05);
}

.container1:hover .mask1,
  .container1:focus .mask1 {
  opacity: 0.9;
}

.container1:hover h4,
  .container1:focus h4 {
  opacity: 1;
  transition-delay: 0.1s;
}

.small-title {
  padding-top: 30%;
  padding-right: 10px;
  padding-left: 10px;
}

.big-title {
  padding-top: 22%;
  padding-right: 10px;
  padding-left: 10px;
}

.mask1 h4, .mask1 p {
  opacity: 0;
  transition: all 0.1s linear;
}

@media (max-width: 1289px) {
  .infographic-container {
    width: 22vw;
    height: auto;
  }
}
@media (max-width: 900px) {
  .infographic-container {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 670px) {
  .infographic-container {
    width: 40vw;
  }
}
@media (max-width: 500px) {
  .infographic-container {
    width: 88%;
  }
}
@media (max-width: 390px) {
  .infographic-container {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .mask1 h4 {
    font-size: 1.1em;
  }
  .small-title {
    padding-top: 35%;
  }
  .big-title {
    padding-top: 30%;
  }
}

/*end infographic page style*/




/*error 404 page style*/

#quote-container {
  text-align: left;
  margin-top: 80px;
  color: #ff0055;
}

#error-container {
  color: #555;
  text-align: left;
}

#error-title {
  font-size: 1.8em;
  color: #555;
  font-weight: 300;
  text-align: left;
  margin-top: 0;
}

/*end error 404 page style*/
