
/*base template style*/

html {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  padding: 0;
  position: relative;
  color: rgb(85,80,80);
  background-color: #fcfcfc;
  background-repeat: repeat;
  background-size: auto;
  background-blend-mode: lighten;
}

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-weight: 300;
  line-height: 1.8em;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 100vh;
}

.no-break {
  display: inline-block;
}

#upper-left {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #fff;
  padding: 3em 2em;
  box-sizing: border-box;
}

#upper-right {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #ff0055;
  padding: 3em 2em;
  box-sizing: border-box;
}

#lower-left {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #FAF9F6;
  padding: 3em 2em;
  box-sizing: border-box;
}

#lower-right {
  flex-grow: 1;
  flex-basis: 50%;
  background-image: url('../img/perfil-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 35em;
}

#left-side {
  width: 60%;
  padding: 3em;
  box-sizing: border-box;
}

#right-side {
  width: 40%;
  background-color: #ff0055;
  padding: 3em;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

@media(max-width: 1350px) {
  #lower-right {
    background-image: url('../img/perfil-medium.jpg');
  }
}

@media (max-height: 1000px) {
  #lower-right {
    min-height: 25em;
  }
}

@media (max-width: 950px) {
  #right-side, #left-side {
    padding: 3em 2em;
  }
}

@media (max-height: 800px) {
  #lower-right {
    min-height: 0;
  }
}

@media (max-width: 800px) {
  #upper-left, #upper-right, #lower-left, #lower-right {
    flex-basis: 100%;
  }

  #upper-left {
    order: 1;
  }

  #lower-left {
    order: 3;
  }

  #upper-right {
    order: 4;
  }

  #lower-right {
    height: 20em;
    order: 2;
    background-image: url('../img/perfil-small.jpg');
  }

  .portfolio-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  #right-side {
    position: relative;
    height: auto;
  }

  #right-side, #left-side {
    flex-basis: 100%;
  }
}

@media (max-width: 400px) {
  #upper-left, #upper-right, #lower-left, #lower-right, #right-side, #left-side {
    padding: 3em 1em;
  }
}

#navigation {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 3.5em;
}

#nav-list, #social-media-list, #mail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#social-media-list {
  margin-top: 20px;
}

#contact-container {
  text-align: left;
  color: #fff;
  font-size: 1.1em;
}

@media (max-width: 670px) {
  #contact-container {
    margin-top: 0;
    padding-bottom: 2em;
  }
}

.nav-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-right: 30px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.nav-link::after {
  content: '';
  height: 4px;
  margin-top: 2px;
  width: 0;
  background-color: #fff;
  display: block;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav-link:hover::after,
  .nav-link:focus::after {
  width: 100%;
}

.contact-title {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 1.4em;
  margin-top: 0;
}

.mail-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

#hire-button-container {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

#hire-button {
  color: #ff0055;
  background-color: #FAF9F6;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  text-decoration: none;
  /* border: 2px solid #ff0055; */
  border-radius: 5px;
  padding: 12px 15px;
  box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.1);
}

#hire-button:hover, #hire-button:focus {
  background-color: #fff;
  box-shadow: 2px 2px 0px 2px rgba(0,0,0,0.3);
}

#mail-img {
  width: 28px;
  height: auto;
  margin-bottom: -4px;
}

.contact-link {
  color: #fff;
}

.contact-text {
  font-size: 0.8em;
}

.social-media-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 8px;
}

.social-media-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.social-media-img {
  height: 25px;
  width: 25px;
  border: 2px solid rgba(255,255,255,0.5);
  padding: 8px;
  border-radius: 5px;
  vertical-align: bottom;
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.social-media-link:hover .social-media-img,
  .social-media-link:focus .social-media-img{
  border: 2px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.3);
}

@media (max-width: 1300px) {
  .line-2 {
    display: inline-block;
    margin-top: 12px;
  }
}

/*end base template style*/


/*index page style*/

#presentation {
  padding-right: 2em;
}

.pink-link {
  color: #ff0055;
  transition: color 0.1s ease-in;
}

.pink-link:hover,
  .pink-link:focus {
  color: rgb(185,0,42);
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: rgb(85,80,80);
  font-size: 3em;
  margin-top: 0;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: rgb(85,80,80);
  font-size: 1.6em;
  margin-top: 0.5em;
}

.activities {
  color: #777;
  /* font-size: 1.4em; */
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 2em;
}

@media (max-width: 930px) {
  #presentation {
    padding-right: 0;
  }
}

#paragraphs {
  clear: left;
  padding-top: 1.5em;
}

.bio-paragraph {
  font-size: 1.1em;
  line-height: 1.8em;
  color: rgb(85,80,80);
  margin-top: 0.8em;
}

.bio-paragraph-title {
  color: rgb(85,80,80);
  font-size: 1.4em;
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
}

#infographics-cta {
  margin-top: 4em;
  color: rgb(85,80,80);
  margin-bottom: 1em;
}

#infographics-cta p {
  /*font-weight: 700;*/
  font-size: 1.1em;
  margin-bottom: 1.8em;
}

.button-container {
  display: block;
  margin-top: 2.5em;
  /*margin-bottom: 2em;*/
}

#infographics-button {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #fff;
  background-color: #ff0055;
  text-decoration: none;
  border: 2px solid #ff0055;
  border-radius: 5px;
  padding: 12px 15px;
  box-shadow: 2px 2px 0px 2px rgb(185,0,42);
}

.arrow {
  height: 16px;
  width: auto;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: -1px;
}

.paragraph-list {
  margin: 0;
  padding: 0;
  list-style: circle inside url("../img/arrow-pink.svg");
}

@keyframes move-arrow{
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-3px);
  }
  85% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

#infographics-button:hover .arrow,
  #infographics-button:focus .arrow {
  animation-name: move-arrow;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.arrow {
  margin-left: 5px;
}

@media (max-width:794px) {
  #paragraphs {
    padding-top: 0.5em;
  }

  .bio-paragraph {
    font-size: 1em;
  }

  h2 {
    margin-top: 0.2em;
  }
}

/*end index page style*/




/*mobile nav (js generated) style*/

#contact-item {
  display: none;
}

.mobile-nav {
  position: fixed;
  bottom:0;
  background-color: #ff0055;
  text-align: center;
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
}

.mobile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.mobile-nav-item {
  display: inline-block;
  margin: 0 1em;
  padding: 0.7em 0.2em 0.5em 0.2em;
}

.mobile-nav-link {
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.3em 0 0 0;
  text-decoration: none;
}

.mobile-nav-link::after {
  content: '';
  height: 4px;
  margin-top: 2px;
  width: 0;
  background-color: #fff;
  display: block;
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.mobile-nav-link:hover::after,
  .mobile-nav-link:focus::after {
  width: 100%;
}

@media(max-width: 400px) {
  .mobile-nav-item, .nav-item {
    margin: 0 0.5em;
  }

  .mobile-nav-link, .nav-link {
    font-size: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@media(max-width: 330px) {
  .mobile-nav-item, .nav-item {
    margin: 0 0.3em;
  }

  .mobile-nav-link, .nav-link {
    font-size: 0.9em;
  }
}

/*end mobile nav style*/




/*infographic page style*/

#infographics-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 2em;
}

#infographic-container {
  margin: 0;
  padding: 0;
  display: inline-block;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.portfolio-section {
  margin-bottom: 2.6em;
  color: rgb(85,80,80);
}

.portfolio-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
  margin-bottom: 0;
  margin-top: 0;
}

.infographic-container {
  margin: 0;
  width: 300px;
  height: 300px;
  padding: 0;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  display: inline-block;
}

.container1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 5px solid #f0f0f0;
  position: relative;
  overflow: hidden;
  margin:auto;
}

.infographic-sample {
  height: 100%;
  width: auto;
  display: block;
  position: relative;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.mask1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: #ff0055;
  opacity: 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.container1:hover .infographic-sample,
  .container1:focus .infographic-sample{
  transform: scale(1.05);
}

.container1:hover .mask1,
  .container1:focus .mask1 {
  opacity: 0.9;
}

.container1:hover h4,
  .container1:focus h4 {
  opacity: 1;
  transition-delay: 0.1s;
}

.small-title {
  padding-top: 30%;
  padding-right: 10px;
  padding-left: 10px;
}

.big-title {
  padding-top: 22%;
  padding-right: 10px;
  padding-left: 10px;
}

.mask1 h4, .mask1 p {
  opacity: 0;
  transition: all 0.1s linear;
}

@media (max-width: 1289px) {
  .infographic-container {
    width: 22vw;
    height: auto;
  }
}
@media (max-width: 900px) {
  .infographic-container {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 670px) {
  .infographic-container {
    width: 40vw;
  }
}
@media (max-width: 500px) {
  .infographic-container {
    width: 88%;
  }
}
@media (max-width: 390px) {
  .infographic-container {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .mask1 h4 {
    font-size: 1.1em;
  }
  .small-title {
    padding-top: 35%;
  }
  .big-title {
    padding-top: 30%;
  }
}

/*end infographic page style*/




/*error 404 page style*/

#quote-container {
  text-align: left;
  margin-top: 80px;
  color: #ff0055;
}

#error-container {
  color: #555;
  text-align: left;
  padding: 3em;
}

#error-title {
  font-size: 2.5em;
  font-family: 'Oswald', sans-serif;
  color: #555;
  font-weight: 300;
  text-align: left;
  margin-top: 0;
}

@media (max-width: 500px) {
  #error-container {
    padding: 2em 1em;
  }

  #error-title {
    font-size: 1.8em;
  }
}

/*end error 404 page style*/
