{% extends 'base.html' %}

{% block header_title %}Fale comigo{% endblock header_title %}

{% block content %}
<div class="subpage-container row">
	<div class="small-12 small-centered columns">
		<p class="subpage-paragraph">
		Você pode entrar em contato comigo através do email <a class="main-section-links" href="mailto:contact@patestevao.com">contact@patestevao.com</a>.</p> 
		<p class="subpage-paragraph">Se quiser uma comunicação mais privada, você pode me enviar uma mensagem ecriptada com PGP usando a minha chave (F194 482B).
		</p>
	</div>
</div>	

{% endblock content %}