{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="small-12 small-centered columns">
		<h1 id="title">Contact <a href="index.html">@patestevao</a></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered columns" id="text">
		The best way to contact me is through my e-mail <a href="mailto:contact@patestevao.com">contact@patestevao.com</a>.
		<br>
		To make it more private, you can send me a PGP encrypted message
		<br>
		using my PGP key, which is F194 482B.
		<br>
		If this is not what you are looking for, go back to <a href="index.html">Home</a>.
	</div>
</div>	
{% endblock content %}