{% extends 'base.html' %}
{% block content %}
	<div id="banner"><h1 id="greeting">Hi, I'm Patrícia Estevão</h1></div>
	<div id="separator1"></div>
	<div id="separator2"></div>
	<img id="my-logo" src="{{ url_for('static', filename='img/logo_03.png') }}">
	<div id="bio-summary">
		I'm a web designer, copywriter and Environmental Engineer.
		<br>
		<br>
		My main interests are new technologies, photography, yoga and world traveling.
		<br>
		<br>
		Folow my work, my adventures or contact me.
	</div>
	<nav id="social-menu">
		<ul>
			<li>
				<a href="mailto:patriciaestevao28+site@gmail.com">
					<div class="social-icon"><i class="fa fa-2x fa-envelope-o"></i></div>
				</a>
			</li>
			<li>
				<a href="//twitter.com/patestevao">
					<div class="social-icon"><i class="fa fa-2x fa-twitter"></i></div>
				</a>
			</li>
			<li>
				<a href="//medium.com/@patestevao">
					<div class="social-icon"><i class="fa fa-2x fa-medium"></i></div>
				</a>
			</li>
			<li>
				<a href="//behance.net/patestevao">
					<div class="social-icon"><i class="fa fa-2x fa-behance"></i></div>
				</a>
			</li>
			<li>
				<a href="//linkedin.com/in/patestevao">
					<div class="social-icon"><i class="fa fa-2x fa-linkedin"></i></div>
				</a>
			</li>
			<li>
				<a href="//instagram.com/patestevao">
					<div class="social-icon"><i class="fa fa-2x fa-instagram"></i></div>
				</a>
			</li>
		</ul>
	</nav>
{% endblock content %}
