{% extends 'base.html' %}
{% block content %}
	<h1 id="greeting">Hi, I'm Patrícia Estevão</h1>
	<img id="profile-pic" src="{{ url_for('static', filename='img/profile-pic.jpg') }}" alt="that's me">
	<div id="bio-summary">
		I'm a web designer, copywriter, yoga lover, photographer wannabe and tech enthusiast. Besides all that, I have a Bachelor in Environmental Engineering.
		<br>
		<br>
		I'm currently living in my home town, Rio de Janeiro, but I'm kind of a world person.
		<br>
		<br>
		You can follow my works and adventures and contact me at any time.
	</div>
	<nav id="social-menu">
		<a href="mailto:patriciaestevao28+site@gmail.com"><i class="fa fa-3x fa-envelope-o"></i></a>
		<a href="//behance.net/patestevao"><i class="fa fa-3x fa-behance"></i></a>
		<a href="//twitter.com/patestevao"><i class="fa fa-3x fa-twitter"></i></a>
		<a href="//linkedin.com/in/patestevao"><i class="fa fa-3x fa-linkedin"></i></a>
		<a href="//instagram.com/patestevao"><i class="fa fa-3x fa-instagram"></i></a>
		<a href="//github.com/patestevao"><i class="fa fa-3x fa-github"></i></a>
	</nav>
{% endblock content %}
