{% extends 'base.html' %}
{% block header %}
{% endblock header %}

{% block content %}
	<div id="top-section">
		<div id="bg-frame"></div>
		<div class="row">
			<div class="small-12 columns">
				<nav class="navigation">
					<ul class="nav-list">
						<li class="nav-items"><a class="nav-links" href="/">Home</a></li>
						<li class="nav-items"><a class="nav-links" href="/infograficos.html">Infográficos</a></li>
						<li class="nav-items"><a class="nav-links" href="/contact.html">Contato</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h1>Olá, eu sou <span class="same-line">Patrícia Estevão.</span></h1>
			</div>
		</div>	
	</div>
	<div id="main-content">
		<div id="line-1" class="row">
			<div class="large-6 medium-6 small-12 columns">
				<div id="profile-pic-container">
					<img id="profile-pic" src="{{ url_for('static', filename='img/quadrada.jpg') }}" alt="">
				</div>
			</div>
			<div class="circle"></div>
			<div class="large-6 medium-6 small-12 columns">	
				<h2>Eu sou designer de informação e UX e faço parte, atualmente, do <a class="main-section-links" href="https://txplab.com">TXPlab</a>.</h2>
			</div>
		</div>
		<div id="line-2" class="row">
			<div class="large-6 medium-6 small-12 columns">
				<p id="paragraph-line-2" class="paragraph">Eu entrei na faculdade de Engenharia Ambiental com um objetivo em mente: trabalhar com <strong>tecnologias que promovessem mudanças positivas no mundo</strong>.
				<br><br>
				Depois de formada, a profissão mudou, mas o objetivo ainda é o mesmo.</p>
			</div>
			<div id="circle-2" class="circle"></div>
			<div class="large-6 medium-6 small-12 columns">
				<div id="engineer-container">
					<img id="engineer-img" src="{{ url_for('static', filename='img/environmental-engineering.svg') }}" alt="">
				</div>
			</div>
		</div>
		<div id="line-3" class="row">
			<div class="large-6 medium-6 small-12 columns">
				<div id="robot-container">
					<img id="robot-img" src="{{ url_for('static', filename='img/robot.svg') }}" alt="">
				</div>
			</div>
			<div class="circle"></div>
			<div class="large-6 medium-6 small-12 columns">	
				<p id="paragraph-line-3" class="paragraph">Eu pesquiso <strong>tecnologias com potencial disruptivo</strong>, como <strong>Bitcoin/blockchain</strong>, e uso meu conhecimento de design para transmitir o conteúdo de forma apropriada (<strong>infográficos</strong> e outros materiais gráficos) ou para ajudar a construir soluções considerando a experiência do usuário.</p>
			</div>
		</div>
		<div id="line-4" class="row">
			<div class="large-8 large-centered small-12 columns">
				<p id="h2-style">Selecionei alguns dos meus infográficos para você. 
				<br>
				Veja eles aqui no meu <a class="main-section-links" href="#">portfólio</a>.</p>
			</div>
		</div>
	</div>
	
{% endblock content %}
