{% extends 'base.html' %}

{% block header_title %}Infográficos Selecionados{% endblock header_title %}

{% block content %}
<div class="subpage-container">
	<ul id="infographics-list">
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-1.png') }}" alt="">
					<div class="mask1">
						<h3 class="big-title">TigoCTM - Cryptocurrency Teller Machine</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-2.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">O que é a tecnologia blockchain?</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-3.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Is Bitcoin anonymous?</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-4.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Bitcoin transaction life cycle</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-5.png') }}" alt="">
					<div class="mask1">
						<h3 class="big-title">What does it really mean to have bitcoins?</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-6.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">The Bitcoin roller coaster</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-7.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Diagrama de segurança</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-8.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Your company snapshot</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-9.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Infográfico: Sim ou Não?</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-10.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Yes means Yes</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-11.png') }}" alt="">
					<div class="mask1">
						<h3 class="big-title">Why you should exchange your cash for Bitcoin now</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="#">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-12.png') }}" alt="">
					<div class="mask1">
						<h3 class="small-title">Big Data survey infographic</h3>
					</div>
				</div>	
			</a>
		</li>
	</ul>	
</div>
{% endblock content %}