{% extends 'base.html' %}

{% block header_title %}Ops, Error 404{% endblock header_title %}

{% block content %}
<div id="error-container">
	<p id="error-title">Error 404, page not found.</p>
	<p class="error-paragraph">The page you are looking for isn't here.</p>
	<p class="error-paragraph">You can come back to the <a class="pink-link" href="{{ url_for('main.index') }}">home page</a>, if you wish.</p>
	<p class="error-paragraph">Or you can go another way, as long as you know where you want to go ;)</p>
	<div id="quote-container">
		<p class="quote"><em>“Would you tell me, please, which way I ought to go from here?"</em></p>
		<p class="quote"><em>"That depends a good deal on where you want to get to."</em></p>
		<p class="quote"><em>"I don't much care where –"</em></p>
		<p class="quote"><em>"Then it doesn't matter which way you go.”</em></p>
		<p id="author">- Lewis Carroll, Alice in Wonderland</p>
	</div>
</div>
{% endblock content%}
