{% extends 'base.html' %}

{% block header_title %}Fale comigo{% endblock header_title %}

{% block content %}
<div class="subpage-container row">
	<div class="small-12 small-centered columns">
		<p class="subpage-paragraph">
		Você pode entrar em contato comigo através do email <a class="main-section-links" href="mailto:contact@patestevao.com">contact@patestevao.com</a>.</p> 
		<p class="subpage-paragraph">PGP: <a class="main-section-links" href="{{ url_for('static', filename='contact@patestevao.com.asc') }}">A386 CED7 90E2 715C 37EA  6145 BBD3 997C F194 482B</a>.
		</p>
	</div>
</div>	

{% endblock content %}