{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div id="upper-left">
			<div id="presentation">
				<h1>Patrícia Estevão</h1>
				<h2>UX and Product Designer<br>
				Co-founder of <a class="pink-link" href="https://www.txplab.com/en/">txplab</a></h2>
			</div>
			<div id="paragraphs">
				<p class="bio-paragraph">I spend time researching and working in the fields of Interaction Design and User Experience (UX), and my
					focus is placed on the creation of products that efficiently solve problems in people's lives.</p>
				<p class="bio-paragraph">I also have skills on: visual identity creation, frontend development
					 and graphic design.</p>
			</div>
		</div>
		<div id="upper-right">
			{% include 'includes/navigation.html' %}
		</div>
		<div id="lower-left">
			<p class="bio-paragraph-title"><strong>Some peculiarities about my work.</strong></p>
			<ul class="paragraph-list">
				<li class="paragraph-item bio-paragraph">My university education was actually on Environmental Engineering.</li>
				<li class="paragraph-item bio-paragraph">I take a special liking to creating infographics.</li>
				<li class="paragraph-item bio-paragraph">I'm very interested in Bitcoin and love doing work related to the technology.</li>
				<li class="paragraph-item bio-paragraph">The last 2 items were combined in a project called <a class="pink-link" href="http://bitcoindesigned.com/">bitcoindesigned</a>.</li>
			</ul>
			<div id="infographics-cta">
				<p>I've also selected some of my past work for you to see:</p>
				<div class="button-container">
					<a id="infographics-button" href="{{ url_for('main.portfolio') }}">Go to portfolio <img class="arrow" src="{{ url_for('static', filename='img/arrow-white.svg') }}" alt="">
					</a>
				</div>
			</div>
		</div>
		<div id="lower-right"></div>
	</div>
{% endblock content %}
