{% extends 'base.html' %}

{% block header_title %}Infográficos Selecionados{% endblock header_title %}

{% block content %}
<div class="subpage-container">
	<ul id="infographics-list">
		<li class="infographic-container">
			<a href="//blockchainhub.github.io/infograficos/infografico-landing-page/">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-2.png') }}" alt="O que é a tecnologia blockchain?">
					<div class="mask1">
						<h3 class="small-title">O que é a tecnologia blockchain?</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/a/tJyRQ">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-3.png') }}" alt="Is Bitcoin anonymous?">
					<div class="mask1">
						<h3 class="small-title">Is Bitcoin anonymous?</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/a/BCvZr">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-4.png') }}" alt="Bitcoin transaction life cycle">
					<div class="mask1">
						<h3 class="small-title">Bitcoin transaction life cycle</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/a/lF5Nz">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-5.png') }}" alt="What does it really mean to have bitcoins?">
					<div class="mask1">
						<h3 class="big-title">What does it really mean to have bitcoins?</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/a/3Qn9K">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-6.png') }}" alt="The Bitcoin roller coaster">
					<div class="mask1">
						<h3 class="small-title">The Bitcoin roller coaster</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/dO1RylR">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-7.png') }}" alt="Diagrama de segurança">
					<div class="mask1">
						<h3 class="small-title">Diagrama de segurança</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/u894B9n">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-8.png') }}" alt="Your company snapshot">
					<div class="mask1">
						<h3 class="small-title">Your company snapshot</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/yyDfyWg">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-9.png') }}" alt="Infográfico: Sim ou Não?">
					<div class="mask1">
						<h3 class="small-title">Infográfico: Sim ou Não?</h3>
					</div>
				</div>	
			</a>	
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/s0ZyFcT">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-10.png') }}" alt="Yes means Yes">
					<div class="mask1">
						<h3 class="small-title">Yes means Yes</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/l9GKebx">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-11.png') }}" alt="Why you should exchange your cash for Bitcoin now">
					<div class="mask1">
						<h3 class="big-title">Why you should exchange your cash for Bitcoin now</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/Hs5GiES">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-12.png') }}" alt="Big Data survey">
					<div class="mask1">
						<h3 class="small-title">Big Data survey infographic</h3>
					</div>
				</div>	
			</a>
		</li>
		<li class="infographic-container">
			<a href="//imgur.com/uRmh6zT">
				<div class="container1">
					<img class="infographic-sample" src="{{ url_for ('static', filename='img/infographics-sample/infographics-sample-1.png') }}" alt="TigoCTM - Cryptocurrency Teller Machine">
					<div class="mask1">
						<h3 class="big-title">TigoCTM - Cryptocurrency Teller Machine</h3>
					</div>
				</div>	
			</a>	
		</li>
	</ul>	
</div>
{% endblock content %}