{% extends 'base.html' %}
{% block content %}

<div class="social-media-area">
	<ul class="social-media-list">
		<li>
			<a href="#" class="social-button-link">
				<div class="reddit"><i class="fa fa-instagram"></i></div>
			</a>
		</li>
		<li>
			<a href="#" class="social-button-link">
				<div class="twitter"><i class="fa fa-twitter"></i></div>
			</a>
		</li>
		<li>
			<a href="#" class="social-button-link">
				<div class="facebook"><i class="fa fa-medium"></i></div>
			</a>
		</li>
		<li>
			<a href="#" class="social-button-link">
				<div class="g-plus"><i class="fa fa-behance"></i></div>
			</a>
		</li>
	</ul>
</div>

{% endblock content %}